<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>股票推薦選項</title>
</head>
<body>
    <h1>股票推薦選項</h1>
    <p>請選擇推薦股票的條件：</p>
    <ul>
        <li><a href="/get_rsi_small_than_20_stock_id">RSI小於20</a></li>
{#        <li><a href="/recommend/KD_gold_cross">KD黃金交叉</a></li>#}
        <!-- 添加其他選項 -->
    </ul>
    <div>
        {% if stock_id_list %}
            <h2>RSI小於20的股票</h2>
            <ul>
                {% for stock_id in stock_id_list %}
                    <li>{{ stock_id }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
